:root {
    --black: #5c4e38; 
    --gray: #d7d2cb;
    --orange: #f2a900;
    --large: 30px;
    --medium: 20px;
    --small: 15px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
}

/** Header **/
.header {
    width: 100%;
    height: 86px;
    padding-left: 30px;
    display: flex;
    position: sticky;
    top: 0px;
    background-color: white;
}
.header img {
    width: 300px;
    height: 35px;
    margin-top: 25px;
}
.nav {
    display: flex;
    width: 850px;
    justify-content: center;
    line-height: 86px;
    font-size: 18px;
}
.sns {
    display: flex;
    width: 130px;
    justify-content: flex-end;
    line-height: 86px;
    font-size: 25px;
}
.nav > li {
    margin-left: 50px;
}
.nav > li > a {
    color: var(--black);
    font-weight: bold;
}
.sns > li {
    margin-left: 15px;
}
.sns > li > a {
    color: var(--orange);
}

/** Slide **/
#section0 {
    width: 100vw;
    height: 300px;
    position: relative;
}
.slide {
    width: 100vw;
    height: 300px;
    background-size: cover;
    transition: transform 0.5s;
    display: none;
}
.left, 
.right {
    width: 41px;
    height: 41px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray);
    font-size: var(--large);
    border-radius: 100%;
}
.right {
    right: 20px;
}
.left:hover, 
.right:hover {
    background-color: var(--orange);
}


/** Brand **/
#section1 {
    height: 580px;
    width: 1280px;
    margin: auto;
    padding-top: 86px;
}
.title {
    height: 150px;
    text-align: center;
}
h1 {
    color: var(--orange);
    font-size: var(--large);
    padding: 20px;
}
h2 {
    color: var(--black);
    font-size: var(--medium);
}
.standard {
    padding: 20px;
    text-align: center;
}
.standard .center_img {
    margin-left: 60px;
    margin-right: 60px;
}
.text {
    display: flex;
    padding: 20px;
}
.text ul {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}
.text .main_text {
    color: var(--orange);
    font-size: var(--large);
    margin-bottom: 20px;
}
.text .small_text {
    color: var(--black);
    font-size: var(--small);
}

/** Promotion **/
#section2 {
    height: 1700px;
    width: 1280px;
    margin: auto;
    text-align: center;
    padding-top: 86px;
}
#section2 h1 {
    margin: 20px;
}
#section2 img {
    margin: 30px;
}

/** Food **/
#section3 {
    height: 700px;
    width: 1280px;
    margin: auto;
    text-align: center;
    padding-top: 86px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display: inline-block;
    padding: 20px;
    font-size: var(--medium);
    color: var(--black);
    border-style: solid;
    border-color: var(--gray);
    border-width: 1px;
    cursor: pointer;
}
input[type="radio"]:checked + label {
    background-color: var(--gray);
}
.conbox {
    width: 1280px;
    height: 550px;
    text-align: center;
    display: none;
}
input[id="tab1"]:checked ~ .con1 {
    display: block;
}
input[id="tab2"]:checked ~ .con2 {
    display: block;
}
input[id="tab3"]:checked ~ .con3 {
    display: block;
}
input[id="tab4"]:checked ~ .con4 {
    display: block;
}
input[id="tab5"]:checked ~ .con5 {
    display: block;
}
input[id="tab6"]:checked ~ .con6 {
    display: block;
}
/** con1 **/
.con1 ul {
    width: 1280px;
    height: 550px;
    display: flex;
}
.con1 li {
    flex: 1;
}
.con1 ul li img {
    width: 420px;
    height: 420px;
    margin-bottom: 10px;
}
.orange {
    color: var(--orange);
    font-size: var(--small);
}
.black {
    color: var(--black);
    font-size: var(--medium);
    font-weight: bold;
}
.gray {
    color: var(--gray);
    font-size: var(--small);
    padding: 10px;
}

/** Search **/
#section4 {
    height: 755px;
    width: 1280px;
    margin: auto;
    text-align: center;
    padding-top: 86px;
}
#map {
    width: 600px; 
    height:600px;
    margin: 20px;
}

/** Footer **/
footer {
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: var(--black);
}
.li1 {
    display: flex;
    width: 700px;
    justify-content: center;
    margin: auto;
    font-size: var(--small);
    line-height: 86px;
}
.li1 li {
    flex: 1;
    color: var(--gray);
}
.li2 {
    display: flex;
    width: 800px;
    justify-content: center;
    margin: auto;
    font-size: var(--small);
    line-height: 40px;
    color: var(--gray);
}
.li2 .call{
    margin-left: 5px;
    margin-right: 20px;
    font-weight: bold;
}
.li2 .time{
    margin-left: 5px;
    font-weight: bold;
}
.li3 {
    display: flex;
    width: 1000px;
    justify-content: center;
    margin: auto;
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
    color: var(--gray);
}
.foot_sns {
    display: flex;
    width: 200px;
    justify-content: center;
    margin: auto;
    line-height: 86px;
    font-size: 40px;
}
.foot_sns .center {
    margin-left: 30px;
    margin-right: 30px;
}
.foot_sns > li > a {
    color: var(--gray);
}
.li4 {
    font-size: 11px;
    line-height: 50px;
    color: var(--gray);
}
